<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler class="io.gitnexus.jdt.batch.BatchCommandHandler">
      <command id="gitnexus.java.collectBatch"/>
      <command id="gitnexus.java.awaitIndex"/>
    </delegateCommandHandler>
  </extension>
</plugin>
